In [1]:
import pandas as pd

In [4]:
ds=pd.read_csv('/content/sample_data/diabetes.csv')

In [5]:
ds

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
x=ds.drop('Outcome',axis=1)

In [7]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [8]:
y=ds['Outcome']

In [9]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtr,xt,ytr,yt=train_test_split(x,y,test_size=0.25,random_state=42)

In [12]:
xtr.shape

(576, 8)

In [18]:
xt.shape

(192, 8)

In [16]:
from keras.models import Sequential
from keras.layers import Dense

In [17]:
net=Sequential()

In [19]:
net.add(Dense(64,activation='relu',input_shape=(8,)))

In [20]:
net.add(Dense(2,activation='softmax'))

In [21]:
net.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                576

 dense_1 (Dense)             (None, 2)                 130

=================================================================
Total params: 706
Trainable params: 706
Non-trainable params: 0
_________________________________________________________________

In [22]:
net.compile(loss="mean_squared_error",optimizer='adam',metrics=['accuracy'])

In [25]:
mod=net.fit(xtr,ytr,epochs=50,verbose=2)

Epoch 1/50
18/18 - 0s - loss: 0.2684 - accuracy: 0.5243 - 39ms/epoch - 2ms/step
Epoch 2/50
18/18 - 0s - loss: 0.2580 - accuracy: 0.5330 - 34ms/epoch - 2ms/step
Epoch 3/50
18/18 - 0s - loss: 0.2545 - accuracy: 0.4618 - 33ms/epoch - 2ms/step
Epoch 4/50
18/18 - 0s - loss: 0.2540 - accuracy: 0.5243 - 37ms/epoch - 2ms/step
Epoch 5/50
18/18 - 0s - loss: 0.2540 - accuracy: 0.5052 - 39ms/epoch - 2ms/step
Epoch 6/50
18/18 - 0s - loss: 0.2541 - accuracy: 0.5000 - 35ms/epoch - 2ms/step
Epoch 7/50
18/18 - 0s - loss: 0.2535 - accuracy: 0.5226 - 37ms/epoch - 2ms/step
Epoch 8/50
18/18 - 0s - loss: 0.2535 - accuracy: 0.5399 - 35ms/epoch - 2ms/step
Epoch 9/50
18/18 - 0s - loss: 0.2544 - accuracy: 0.4965 - 36ms/epoch - 2ms/step
Epoch 10/50
18/18 - 0s - loss: 0.2576 - accuracy: 0.5069 - 35ms/epoch - 2ms/step
Epoch 11/50
18/18 - 0s - loss: 0.2541 - accuracy: 0.5208 - 30ms/epoch - 2ms/step
Epoch 12/50
18/18 - 0s - loss: 0.2529 - accuracy: 0.4931 - 46ms/epoch - 3ms/step
Epoch 13/50
18/18 - 0s - loss: 0.2534 - accuracy: 0.5104 - 44ms/epoch - 2ms/step
Epoch 14/50
18/18 - 0s - loss: 0.2535 - accuracy: 0.5243 - 38ms/epoch - 2ms/step
Epoch 15/50
18/18 - 0s - loss: 0.2542 - accuracy: 0.5330 - 43ms/epoch - 2ms/step
Epoch 16/50
18/18 - 0s - loss: 0.2552 - accuracy: 0.5052 - 33ms/epoch - 2ms/step
Epoch 17/50
18/18 - 0s - loss: 0.2551 - accuracy: 0.4861 - 33ms/epoch - 2ms/step
Epoch 18/50
18/18 - 0s - loss: 0.2531 - accuracy: 0.5226 - 36ms/epoch - 2ms/step
Epoch 19/50
18/18 - 0s - loss: 0.2535 - accuracy: 0.4931 - 41ms/epoch - 2ms/step
Epoch 20/50
18/18 - 0s - loss: 0.2572 - accuracy: 0.4705 - 34ms/epoch - 2ms/step
Epoch 21/50
18/18 - 0s - loss: 0.2539 - accuracy: 0.5087 - 36ms/epoch - 2ms/step
Epoch 22/50
18/18 - 0s - loss: 0.2538 - accuracy: 0.5000 - 30ms/epoch - 2ms/step
Epoch 23/50
18/18 - 0s - loss: 0.2531 - accuracy: 0.5486 - 33ms/epoch - 2ms/step
Epoch 24/50
18/18 - 0s - loss: 0.2558 - accuracy: 0.5000 - 31ms/epoch - 2ms/step
Epoch 25/50
18/18 - 0s - loss: 0.2562 - accuracy: 0.5087 - 31ms/epoch - 2ms/step
Epoch 26/50
18/18 - 0s - loss: 0.2576 - accuracy: 0.5174 - 49ms/epoch - 3ms/step
Epoch 27/50
18/18 - 0s - loss: 0.2555 - accuracy: 0.4792 - 34ms/epoch - 2ms/step
Epoch 28/50
18/18 - 0s - loss: 0.2540 - accuracy: 0.5382 - 31ms/epoch - 2ms/step
Epoch 29/50
18/18 - 0s - loss: 0.2549 - accuracy: 0.4878 - 32ms/epoch - 2ms/step
Epoch 30/50
18/18 - 0s - loss: 0.2548 - accuracy: 0.5052 - 41ms/epoch - 2ms/step
Epoch 31/50
18/18 - 0s - loss: 0.2531 - accuracy: 0.4931 - 31ms/epoch - 2ms/step
Epoch 32/50
18/18 - 0s - loss: 0.2529 - accuracy: 0.5069 - 35ms/epoch - 2ms/step
Epoch 33/50
18/18 - 0s - loss: 0.2554 - accuracy: 0.5087 - 31ms/epoch - 2ms/step
Epoch 34/50
18/18 - 0s - loss: 0.2596 - accuracy: 0.5069 - 36ms/epoch - 2ms/step
Epoch 35/50
18/18 - 0s - loss: 0.2540 - accuracy: 0.5052 - 35ms/epoch - 2ms/step
Epoch 36/50
18/18 - 0s - loss: 0.2536 - accuracy: 0.5052 - 32ms/epoch - 2ms/step
Epoch 37/50
18/18 - 0s - loss: 0.2540 - accuracy: 0.5399 - 49ms/epoch - 3ms/step
Epoch 38/50
18/18 - 0s - loss: 0.2521 - accuracy: 0.5035 - 33ms/epoch - 2ms/step
Epoch 39/50
18/18 - 0s - loss: 0.2527 - accuracy: 0.5052 - 37ms/epoch - 2ms/step
Epoch 40/50
18/18 - 0s - loss: 0.2538 - accuracy: 0.5260 - 35ms/epoch - 2ms/step
Epoch 41/50
18/18 - 0s - loss: 0.2539 - accuracy: 0.5226 - 30ms/epoch - 2ms/step
Epoch 42/50
18/18 - 0s - loss: 0.2555 - accuracy: 0.5174 - 31ms/epoch - 2ms/step
Epoch 43/50
18/18 - 0s - loss: 0.2549 - accuracy: 0.5139 - 36ms/epoch - 2ms/step
Epoch 44/50
18/18 - 0s - loss: 0.2541 - accuracy: 0.5035 - 31ms/epoch - 2ms/step
Epoch 45/50
18/18 - 0s - loss: 0.2523 - accuracy: 0.4878 - 34ms/epoch - 2ms/step
Epoch 46/50
18/18 - 0s - loss: 0.2527 - accuracy: 0.5417 - 39ms/epoch - 2ms/step
Epoch 47/50
18/18 - 0s - loss: 0.2524 - accuracy: 0.5052 - 34ms/epoch - 2ms/step
Epoch 48/50
18/18 - 0s - loss: 0.2517 - accuracy: 0.5243 - 40ms/epoch - 2ms/step
Epoch 49/50
18/18 - 0s - loss: 0.2558 - accuracy: 0.5156 - 33ms/epoch - 2ms/step
Epoch 50/50
18/18 - 0s - loss: 0.2589 - accuracy: 0.5156 - 31ms/epoch - 2ms/step

In [26]:
net.evaluate(xt,yt)

6/6 [==============================] - 0s 3ms/step - loss: 0.2683 - accuracy: 0.5573

[0.26829269528388977, 0.5572916865348816]

In [31]:
test=xt.head(1)

In [32]:
test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
668,6,98,58,33,190,34.0,0.43,43

In [35]:
import numpy as np
np.argmax(net.predict(test))

1/1 [==============================] - 0s 18ms/step

0

In [37]:
yt.head(1)

668    0
Name: Outcome, dtype: int64

In [36]:
pred=net.predict(xt)

6/6 [==============================] - 0s 2ms/step

In [38]:
from sklearn.metrics import accuracy_score

In [40]:
ytt=[]

In [41]:
for i in yt:
  ytt.append(np.argmax(i))

In [42]:
accuracy_score(ytt,yt)

0.640625