In [1]:
import pandas as pd

In [14]:
ds=pd.read_csv('ds/Spam.csv')

In [15]:
ds

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [16]:
def conv(k):
    if k=='spam':
        return 1
    else:
        return 0

In [17]:
ds['Category']=ds['Category'].apply(conv)

In [18]:
ds

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [19]:
from nltk.corpus import stopwords
import string

In [20]:
def preprocess(mess):
    mess=[c for c in mess if c not in string.punctuation]
    nopun="".join(mess)
    clean=" ".join([c for c in nopun.split() if c.lower() not in stopwords.words('english')])
    return clean.lower()

In [21]:
ds['Message']=ds['Message'].apply(preprocess)

In [22]:
ds

      Category                                            Message
0            0  go jurong point crazy available bugis n great ...
1            0                            ok lar joking wif u oni
2            1  free entry 2 wkly comp win fa cup final tkts 2...
3            0                u dun say early hor u c already say
4            0        nah dont think goes usf lives around though
...        ...                                                ...
5567         1  2nd time tried 2 contact u u £750 pound prize ...
5568         0                        ü b going esplanade fr home
5569         0                        pity mood soany suggestions
5570         0  guy bitching acted like id interested buying s...
5571         0                                     rofl true name

[5572 rows x 2 columns]

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
xtr,xt,ytr,yt=train_test_split(ds['Message'],ds['Category'],random_state=1)

In [77]:
from sklearn.naive_bayes import MultinomialNB

In [78]:
nb=MultinomialNB()

In [79]:
from sklearn.feature_extraction.text import CountVectorizer

In [80]:
vec=CountVectorizer()

In [81]:
vec_xtr=vec.fit_transform(xtr)
vec_xt=vec.transform(xt)

In [82]:
nb.fit(vec_xtr,ytr)

MultinomialNB()

In [83]:
pred=nb.predict(vec_xt)

In [84]:
from sklearn.metrics import accuracy_score

In [85]:
accuracy_score(yt,pred)

0.9877961234745154