In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv('ds/IRIS.csv')

In [3]:
ds

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
s=StandardScaler()

In [6]:
x=s.fit_transform(ds.drop('species',axis=1))

In [7]:
x=pd.DataFrame(x,columns=ds.columns[:-1])

In [8]:
x

     sepal_length  sepal_width  petal_length  petal_width
0       -0.900681     1.032057     -1.341272    -1.312977
1       -1.143017    -0.124958     -1.341272    -1.312977
2       -1.385353     0.337848     -1.398138    -1.312977
3       -1.506521     0.106445     -1.284407    -1.312977
4       -1.021849     1.263460     -1.341272    -1.312977
..            ...          ...           ...          ...
145      1.038005    -0.124958      0.819624     1.447956
146      0.553333    -1.281972      0.705893     0.922064
147      0.795669    -0.124958      0.819624     1.053537
148      0.432165     0.800654      0.933356     1.447956
149      0.068662    -0.124958      0.762759     0.790591

[150 rows x 4 columns]

In [9]:
y=ds['species']

In [10]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
xtr,xt,ytr,yt=train_test_split(x,y,test_size=.3,random_state=42)

In [13]:
from sklearn.naive_bayes import BernoulliNB,GaussianNB

In [14]:
scores=[]
from sklearn.metrics import accuracy_score,confusion_matrix

In [15]:
n1=BernoulliNB()
n1.fit(xtr,ytr)
pred1=n1.predict(xt)

In [16]:
scores.append(accuracy_score(yt,pred1))

In [17]:
cm1=confusion_matrix(yt,pred1)
cm1

array([[19,  0,  0],
       [ 0,  4,  9],
       [ 0,  1, 12]], dtype=int64)

In [18]:
n2=GaussianNB()
n2.fit(xtr,ytr)
pred2=n2.predict(xt)

In [19]:
scores.append(accuracy_score(yt,pred2))

In [20]:
cm2=confusion_matrix(yt,pred2)
cm2

array([[19,  0,  0],
       [ 0, 12,  1],
       [ 0,  0, 13]], dtype=int64)

In [21]:
scores

[0.7777777777777778, 0.9777777777777777]